body{
    margin: 0;
    
   
}
h1{
    font-family: 'Titan One', cursive;
    color: blue;
    font-size: 50px;
    padding-top:20px;

}
h2{
    font-size:40px;
    color: red;
}
.badge{
    color: gray;
    font-size: 20px;
}
.section-1{
    display: flex;
    background-color: black;
    padding-left: 20px;
    color: aliceblue;
    padding-bottom: 50px;
}
.welcome{
    width: 50%;
    padding-left: 10px;
    padding-top: 30px;
}
.welcome img{
    width: 80%;
    padding-left: 90px;   
    padding-top: 10px;
    padding-bottom: 20px; 
}
a{
    text-decoration: none;
    padding: 4px 15px;
    background-color: #3e8e41;
    color:gold;
    border-radius: 7px;
    font-weight: 700;
}
.dancing:hover{
    
    cursor: pointer;
    
    display:inline-block;
    box-shadow: 5px 5px #666;  
}
.section-2{
display: flex;
padding-bottom: 50px;
background-color: black;
color: aliceblue;
}
.dream-big{
width: 100%;
padding-top: 70px;
padding-left: 70px;

}
.image-dream img{
    width: 100%;
    padding-top: 1px;

}
.section-3{
    
    background-color: black;
    color: aliceblue;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.all{
    display: flex;
}
.experience{
    width: 100%;
    margin: 40px;
    box-shadow: 10px;
    border: 2px solid gray;
    ;
    text-align: center;
    border-color: blueviolet;
    padding: 40px;
    border-radius: 10px;
}
#one :hover{
    cursor: pointer;
    color: blue;
    
    
    display:inline-block;
    box-shadow: 5px 5px #666;
}


